
.list.header__find-list{
    position: absolute;
    z-index: 100;

    width: 100%;
    max-width: 580px;
    left: 0px;
    top: 44px;
    padding: 10px;
    cursor: pointer;
    background-color: var(--color-white);
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.15);
}



.find-list__item:not(:last-child) {
    margin-bottom: 5px;
    border-bottom: 1px solid var(--color-gray-suit);
}

.find-list__link{
    color: var(--color-mine-shaft);
}


.find-list__item.hide{
    display: none;
}

.header__find-list.hide{
    display: none;
}